# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
/coverage

# Production
build/
dist/
*.jsbundle

# Misc
.DS_Store
*.swp
*.swo
*~

# IDE & Editor
.vscode/
.idea/
.gradle
*.iml
*.sublime-project
*.sublime-workspace
.project
.classpath
.c9/
.history/

# React Native specific
.gradle
.m2/
android/.gradle
android/local.properties
android/app/debug
android/app/release

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcarchive
*.dSYM/
*.xcuserstate
**/.xcode.env.local
*.xcworkspace/

# Android
.gradle/
local.properties
*.hprof
.cxx/
*.keystore
!debug.keystore
.kotlin/

# CocoaPods
Pods/
Podfile.lock
**/.Pods/
**/Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Metro
.metro-health-check*

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Watchman
.watchmanconfig

# Environment variables
.env
.env.local
.env.*.local

# OS files
Thumbs.db
desktop.ini

# Ruby
.bundle/
gems/
vendor/bundle/
Gemfile.lock
